* {
  font-family: monospace;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 90px;
}

input {
    width: 700px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    outline: none;
    background-color: rgba(22, 19, 19, 0.900);
    border: none;
    color: aliceblue;
    border-radius: 15px;
  }
  
input:hover {
  font-size: 32px;
  transform: scale(1.08);
  background-color: rgb(22, 19, 19);
} 

input::placeholder {
  color: aliceblue;
}



.body {
    text-align: center;
  }
  
  .body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("./../../assets/landingPage/anise-aroma-art-277253.jpg");
    height: 1000px;
    width:1900px;
    background-size: cover;
  }

