
/* $text-color: #777;
$list-bgcolor: #f5f5f5; */
* {
  font-family: monospace;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

input {
    width: 700px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 30px;
  }
  



.body {
    text-align: center;
  }
  
  .body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }